<!DOCTYPE html>
<html>
    <head>
        <title>Bartel</title>
        <!-- Static assets can go in here! -->
        <!--PUREFORM CSS-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="app.js"></script>
         <!-- Compiled and minified CSS -->
   

    <!-- Compiled and minified JavaScript -->
   
            
    </head>
    <body>
        <h1><a href="/index">Bartel</a></h1>
        {{{ body }}}
       
    </body>
</html>