<!DOCTYPE html>
<html>
    <head>
        <title>Bartel</title>
        <!-- Static assets can go in here! -->
        <!-- <link rel="stylesheet" type="text/css" href="/css/styles.css"> -->
         <!-- Compiled and minified CSS -->
   

    <!-- Compiled and minified JavaScript -->
   
            
    </head>
    <body>
        <h1>Welcome to Bartel</h1>
        {{{ body }}}
       
    </body>
</html>