body {
    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
    background-size: cover;
    margin-left: 150px;
    margin-right: 150px;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: white;
    text-align: center;
}

.navbar {
    width: 250px;
    margin: 0 auto;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.bartel-pin {
    border: 5px black solid;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    float: left;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: inherit;
    background-color: gray;
}

.inner-content {
    text-align: center
}

h3 {
    color: white;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 40px;
}
.barcontainer {
    background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
.barimage {
    max-width: 400px;
    max-height: 400px;
}
h6{
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
}
.header {
    height: 200px;
    background-image: url(https://images.pexels.com/photos/274192/pexels-photo-274192.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: inherit;
    background-position: center center;
    margin-bottom: 40px;
    text-align: center;
}

.location {
    color: white;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 15px;
}

.user-card {
    width: 200px;
    height: 200px;
    border: 10px solid white;
    float: left;
    background-size: cover;
    border-radius: 10px;
    margin: 10px;
    vertical-align: text-bottom;
    color: white;
    font: "Barlow Condensed", sans-serif;
    font-size: 20px;
    background-color: grey;
}

.commentholder {
    background-color: grey;
    border: solid white 5px;
    border-radius: 20px;
    overflow: scroll;
    width: 600px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}
