
<h2>This will contain all the users</h2>
{{#each userpost}}
    <div class="user-card" style="background-image: url({{img}})">
        <p>{{username}}</p>
    </div>

{{/each}}

{{!-- {{user.username}} --}}
<button>Delete</button>