<div>
    <h3>You guys - the users!</h3>
    <p>Thanks for being apart of our team</p>
</div>

{{#each userpost}}
    <a href="user/{{_id}}">
        <div class="user-card" style="background-image: url({{img}})">
            <h4>{{username}}</h4>
        </div>
    </a>

{{/each}}
