
<h2>This will contain all the users</h2>
{{#each userpost}}
    <a href="user/{{_id}}">
        <div class="user-card" style="background-image: url({{img}})">
           <p>{{username}}</p>
        </div>
    </a>

{{/each}}

{{!-- {{user.username}} --}}
<button>Delete</button>