.delete-modal {
    display: none;
    position: fixed;
}

body {
    background-color: aqua;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: white;
}

a {
    text-decoration: none;
}