<h1>Create a new Bar</h1>
<h2>Where's your favorite spot?</h2>

<form class="pure-form pure-form-stacked" action="/index" method="POST">
    <fieldset>

        <input type="text" name="barName" placeholder="Bar Name">
        <input type="text" name="location" placeholder="Location (City, State)">
        <input type="text" name="image" placeholder="Link an image your bar">
        <textarea name="description" placeholder="Description"></textarea>
    </fieldset>
    <button type="submit" class="pure-button">Add Bar</button>
</form>