<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/index" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item pure-menu-selected"><a href="/newbar" class="pure-menu-link">Add Bar</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Profile</a></li>
    </ul>
</div>


<h1>Create a new Bar</h1>
<h2>Where's your favorite spot?</h2>

<form class="pure-form pure-form-stacked" action="/index" method="POST">
    <fieldset>

        <input type="text" name="barName" placeholder="Bar Name">
        <input type="text" name="location" placeholder="Location (City, State)">
        <input type="text" name="image" placeholder="Link an image your bar">
        <textarea name="description" placeholder="Description"></textarea>
    </fieldset>
    <button type="submit" class="pure-button">Add Bar</button>
</form>