
<h1>Edit bar</h1>



<form class="pure-form pure-form-stacked" action="/{{barId}}?_method=PATCH" method="POST">
    <fieldset>

        <input type="text" name="barName" placeholder="Bar Name">
        <input type="text" name="location" placeholder="Location (City, State)">
        <input type="text" name="image" placeholder="Link an image your bar">
        <textarea name="description" placeholder="Description"></textarea>
    </fieldset>
    <button type="submit" class="pure-button">Update Bar</button>
</form>