
    {{#each barpost}}
        <div class="bartel-pin" style="background-image: url({{image}})">
            <div class="inner-content">
                <h3><a href="{{_id}}">{{barName}}</a></h3>
                <p class="location">{{location}}</p>
            </div>
        </div>
    {{/each}}    

