<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Selected</a></li>
        <li class="pure-menu-item"><a href="/newbar" class="pure-menu-link">Add Bar</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Profile</a></li>
    </ul>



</div>

<h2>{{barpost.barName}}</h2>
<img src={{barpost.image}} alt="{{barpost.barName}}">
<p>{{barpost.description}}</p>

