<div>
    <h3>Sign Up</h3>
    <form>
        <input type="username" placeholder="username"/>
        <input type="email" placeholder="email"/>
        <button type="submit">Sign Up</button>
    </form>
</div>

<div>
    <h3>Login</h3>
    <form class="pure-form pure-form-stacked">
    <fieldset>

        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Email">
        <span class="pure-form-message">This is a required field.</span>

        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Password">
    </fieldset>
    </form>
</div>