<!--FORM STYLING PROVIDED BY PUREFORM CSS-->

<div class='portal'>
    <h3>Sign Up</h3>
    <form class="pure-form pure-form-stacked" action="/user" method="POST">
        <fieldset>
            <input name="username" id="name" type="text" placeholder="username" required/>
            <input name="email" type="email" placeholder="email"/>
            <input name="img" type="text" placeholder="picture"/>
            <textarea name="bio" class="pure-input-1-2" placeholder="Tell us about yourself"></textarea>
            <button type="submit" class="pure-button">Sign Up</button>
        </fieldset>
    </form>
</div>

