<!--FORM STYLING PROVIDED BY PUREFORM CSS-->
<div>
    <h3>Login</h3>
    <form class="pure-form pure-form-stacked">
    <fieldset>

        
        <input id="name" type="text" placeholder="username">

        <input id="password" type="password" placeholder="password">

        <button type="submit" class="pure-button">Login</button>
    </fieldset>
    </form>
</div>


<div>
    <h3>Sign Up</h3>
    <form class="pure-form pure-form-stacked" action="/" method="POST">
        <fieldset>
            <input id="name" type="text" placeholder="username"/>

            

            <input type="email" placeholder="email"/>

            <input id="password" type="password" placeholder="password">

            <textarea class="pure-input-1-2" placeholder="bio"></textarea>


            
            <button type="submit" class="pure-button">Sign Up</button>
        </fieldset>
    </form>
</div>

